//fonts
$OS: 'Open Sans', sans-serif;

//colors 

//text
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e1e1e1; //used
$gray-300: #dee2e6;
$gray-400: #d7d7d7; //used
$gray-500: #b7b7b7; //used
$gray-600: #8d8c8c; //used
$gray-700: #393939; //used
$gray-800: #323231; //used
$gray-850: #212529; //used
$gray-900: #010000; //used
$black:    #000;

$primary:  #ef5b4c;
$secondary:#007bff; //#1b4a8a;

//bg
$bg-primary:        #fff;
$bg-secondary:      #f9f9f3;

//btn
$btn-primary:         #ef5b4c;
$btn-primary-hover:   #d24335;
$btn-primary-active:  #ca5d03;
$btn-disabled:        #d7d7d7;


//decorators
$error: #f44336;